package layouts

templ Header() {
	<header>
		<h1>Homeserver</h1>
		<nav class="f-row justify-content:space-between">
			<p class="tool-bar">
				<a href="/">Homeserver</a>
				<a href="/">Homeserver</a>
				<a href="/">Homeserver</a>
			</p>
			<p class="tool-bar">
				<a style="text-align: right" class="flex-grow:1 align-self:end" href="/login">Login</a>
			</p>
		</nav>
	</header>
}
