package layouts

templ Page(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>{ title } - Belak's Tools</title>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="stylesheet" href="/static/css/missing-1.1.3.css"/>
			<link rel="stylesheet" href="/static/css/custom.css"/>
		</head>
		<body>
			@Header()
			<main>
				{ children... }
			</main>
			@Footer()
		</body>
	</html>
}
