package templates

templ Header() {
	<header>
		<h1>Homeserver</h1>
		<nav>
			<p class="tool-bar">
				<a href="/">Homeserver</a>
				<a href="/">Homeserver</a>
				<a href="/">Homeserver</a>
				<a href="/">Homeserver</a>
			</p>
		</nav>
	</header>
}
