package templates

import (
	"github.com/belak/home/models"
	"github.com/belak/home/templates/layouts"
)

templ IndexPage(state *models.SiteState) {
	@layouts.Page(state, "Homeserver") {
		<p>Index</p>
	}
}
