package templates

import (
	"github.com/belak/home/models"
	"github.com/belak/home/templates/layouts"
)

templ NotFoundHandler(state *models.SiteState, path string) {
	@layouts.Page(state, "Page Not Found") {
		<div class="box bad">
			<strong class="block titlebar">Error</strong>
			Page not found: { path }
		</div>
	}
}
